* {
	margin: 0;
	padding: 0;
}

body,
button,
input,
select,
textarea {
	font: 12px/1.5 Arial, Helvetica, sans-serif;
}

<--重置样式-->html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot');
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}

* {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: #333333;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #ca151d;
}

img {
	display: block;
	border: none;
}

body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	overflow-x: auto;
}

#ad {
	min-width: 1200px;
	position: relative;
}

#ad img {
	width: 100%;
	height: 90px;
	margin: 0 auto;
}

#ad span {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 16px;
	color: white;
	position: absolute;
	right: 20px;
	top: 20px;
	background: black;
	opacity: .3;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}

#top {
	min-width: 1200px;
	height: 31px;
	background-color: #fafafa;
	line-height: 31px;
	background-color: #fafafa;
	border-bottom: 1px solid #eaeaea;
	position: relative;
}

#top .top-con {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

#top .top-con:before {
	content: "";
	display: block;
}

#top .top-con:after {
	content: "";
	display: block;
}


/*top左边*/

#top .tc-left {
	float: left;
}

#top .tc-left li:first-child {
	padding-left: 0;
	background-image: none;
}

#top .tc-left li {
	float: left;
	padding: 0 8px;
	background: url(../img/navli_bg.png) no-repeat;
	background-position: 0 9px;
}

#top .tc-left li a {
	font-size: 12px;
	color: #a4a4a4;
	cursor: pointer;
}

#top .tc-left li a:hover {
	color: #ca151d;
}

#top .tc-left .appsoft {
	position: relative;
	padding: 0 27px 0 10px;
	height: 29px;
}

#top .tc-left .appsoft span {
	position: absolute;
	right: 10px;
	top: 50%;
	width: 7px;
	height: 4px;
	background: url(../img/spirit.png) no-repeat -35px 0;
}

#top .tc-left .appsoft .a-bottom {
	display: none;
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	top: 29px;
	padding: 0 10px;
	background-color: #fff;
	border: 1px solid #ededed;
	border-top-color: #fff;
}

#top .tc-left .appsoft .a-bottom a {
	color: #3a3a3a;
}

#top .tc-left .appsoft .a-bottom a:hover {
	color: #ca151d;
}

#top .tc-left .appsoft:hover {
	background-color: white;
	background-image: none;
	border: 1px solid #ededed;
}

#top .tc-left .appsoft:hover span {
	background-position: -7px 0;
}

#top .tc-left .appsoft:hover .a-bottom {
	display: block;
}


/*top右边*/

#top .tc-right {
	float: right;
}

#top .tc-right li {
	padding: 0 27px 0 10px;
	height: 29px;
	position: relative;
	float: left;
	background: url(../img/navli_bg.png) no-repeat;
	background-position: 0 9px;
}

#top .tc-right li:first-child {
	background-image: none;
}

#top .tc-right li a {
	font-size: 12px;
	color: #a4a4a4;
	cursor: pointer;
}

#top .tc-right li a:hover {
	color: #ca151d;
}

#top .tc-right span {
	position: absolute;
	right: 10px;
	top: 50%;
	width: 7px;
	height: 4px;
	background: url(../img/spirit.png) no-repeat -35px 0;
}

#top .tc-right .phone_code .p-bottom {
	display: none;
	background-color: white;
	width: 218px;
	height: 218px;
	border: 1px solid #CCCCCC;
	position: absolute;
	right: 0;
	margin-top: -5px;
	z-index: 40;
}

#top .tc-right .phone_code .p-bottom .qrcode {
	height: 89px;
	padding: 15px 13px 0 13px;
}

#top .tc-right .phone_code .p-bottom .qrcode .q-left {
	float: left;
}

#top .tc-right .phone_code .p-bottom .qrcode .q-right {
	float: left;
	margin-left: 8px;
}

#top .tc-right li:hover {
	background-color: white;
	background-image: none;
	border: 1px solid #ededed;
	border-bottom: none;
}

#top .tc-right li:hover span {
	background-position: -7px 0;
}

#top .tc-right li:hover .p-bottom {
	display: block;
}

#top .tc-right li:hover .m-bottom {
	display: block;
}

#top .tc-right .more_info .m-bottom {
	display: none;
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	top: 29px;
	padding: 0 10px;
	background-color: #fff;
	border: 1px solid #ededed;
	border-top-color: #fff;
}


/*header部分*/

#header {
	width: 100%;
	height: 69px;
	background-color: #fafafa;
	border-bottom: 1px solid #eaeaea;
}

#header .h-con {
	width: 1200px;
	height: 69px;
	margin: 0 auto;
}

#header .h-con:before {
	content: "";
	display: block;
	clear: both;
}

#header .h-con .logo {
	float: left;
	width: 300px;
}

#header .h-con .hc-login {
	float: right;
	height: 32px;
	width: 110px;
	border: 1px solid #eaeaea;
	background-color: #FFF;
	margin-top: 20px;
	margin-left: 20px;
}

#header .h-con .hc-login .hc-login-a {
	line-height: 32px;
	width: 108px;
	height: 32px;
	color: #000;
	text-align: center;
}

#header .h-con .hc-login a {
	font-size: 12px;
	line-height: 18px;
	color: #333333;
}

#header .h-con .hc-login span {
	padding: 0 8px;
}

#header .h-con .hc-login a:hover {
	color: #ca151d;
}

#header .h-con .cart-box {
	position: relative;
	float: right;
	height: 32px;
	z-index: 2;
	border: 1px solid #eaeaea;
	background-color: #FFF;
	margin-top: 20px;
	margin-left: 20px;
}

#header .h-con .cart-box .cart a {
	position: relative;
	display: block;
	width: 32px;
	height: 32px;
	padding-top: 7px;
}

#header .h-con .cart-box .cart a span {
	display: block;
	height: 19px;
	width: 19px;
	background: url(../img/spirit.png) no-repeat -204px 0;
}

#header .h-con .cart-box .cart a i {
	font-style: normal;
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #ca151d;
	text-align: center;
	left: 23px;
	top: -12px;
	color: #FFF;
	border-radius: 50%;
	padding: 4px 4.5px;
}

#header .h-con .cart-box .cart-hide {
	display: none;
	text-align: center;
	position: absolute;
	z-index: 1;
	overflow: hidden;
	border: 1px solid #EEE;
	background-color: #FFF;
	min-width: 400px;
	max-height: 500px;
	overflow-y: auto;
	right: -1px;
	top: 32px;
}
#header .h-con .cart-box .cart-hide p{
	padding: 20px;
}
#header .h-con .cart-box .cart-hide p span{
	font-size: 20px;
	color: #CA141D;
}
#header .h-con .cart-box .cart-hide p a{
	display: inline-block;
	width: 80px;
	height: 30px;
	color: white;
	margin-left: 30px;
	line-height: 30px;
	text-align: center;
	background:#CA151D;
}
#header .h-con .cart-box .cart-hide div{
	width: 400px;
	height: 100px;
	position: relative;
	border-bottom: 1px solid #CCCCCC;
}
#header .h-con .cart-box .cart-hide div img{
	float: left;
	width: 60px;
	height: 70px;
	margin: 16px 20px;
}
/*#header .h-con .cart-box .cart-hide div p{
	display: inline-block;
	width: 260px;
	height: 80px;
}*/
#header .h-con .cart-box .cart-hide div  h4{
	margin: 20px 0;
	width: 300px;
}
#header .h-con .cart-box .cart-hide div span{
	float: left;
	margin-left: 10px;
	color: #CA141D;
}
#header .h-con .cart-box .cart-hide div span b{
	margin-left: 10px;
	color: #C5C5C5;
}
#header .h-con .cart-box .cart-hide div .closebtn{
	position: absolute;
	font-size: 18px;
	right: 20px;
	bottom: 50%;
}

/*#header .h-con .cart-box .cart-hide img {
	margin: 20px auto;
}

#header .h-con .cart-box .cart-hide p {
	margin: 10px auto 30px;
}*/

#header .h-con .cart-box:hover {
	border: 1px solid #eaeaea;
	border-bottom: none;
	background-color: #fff;
}

#header .h-con .cart-box:hover .cart-hide {
	display: block;
}

#header .h-con .search-form {
	float: right;
	padding-top: 20px;
	position: relative;
}

#header .h-con .search-form form {
	border: 1px solid #EEE;
	width: 466px;
	height: 32px;
}

#header .h-con .search-form .text {
	background-color: #fff;
	border: none;
	outline: none;
	width: 413px;
	height: 22px;
	line-height: 22px;
	padding: 5px 10px;
	vertical-align: top;
	border-right: 1px solid #eaeaea
}

#header .h-con .search-form .btn {
	width: 32px;
	height: 32px;
	cursor: pointer;
	border: none;
	background: transparent url(../img/searchbtnbg.png) no-repeat -10px 8px;
	position: absolute;
	background-color: #FFF
}

#header .h-con .search-form .btn:hover {
	background: url(../img/searchbtnbg.png) no-repeat -10px 8px;
}

#header .h-con .search-form .keyword {
	display: block;
	position: absolute;
	right: 55px;
	bottom: 7px;
	text-align: right;
	overflow: hidden;
}

#header .h-con .search-form .keyword a {
	color: #a3a3a3;
	font-size: 12px;
	margin-right: 12px;
	padding: 4px;
	background: #f5f5f5;
}

#header .h-con .search-form .keyword a:hover {
	color: #ca151d;
}

<--nav部分-->#nav {
	width: 100%;
	height: 42px;
	height: 42px;
	background: black;
}

#nav-con {
	position: relative;
	width: 1200px;
	height: 42px;
	margin: 0 auto;
}

#nav-con .nav-list {
	position: absolute;
	top: 0;
	left: 242px;
	width: 933px;
	height: 42px;
	padding-left: 25px;
}

#nav-con .nav-list li {
	float: left;
}

#nav-con .nav-list li a {
	display: inline-block;
	height: 32px;
	line-height: 42px;
	font-size: 16px;
	color: #3a3a3a;
	margin: 0 25px;
	text-align: center;
}

#nav-con .nav-list li a:hover {
	border-bottom: 3px solid #ca151d;
}

#nav-con .nav-product {
	position: absolute;
	left: 0;
	top: 0;
	width: 240px;
	height: 42px;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
}

#nav-con .nav-product h2 {
	background: #CA151D;
	font-weight: 100;
	line-height: 42px;
	height: 42px;
	font-size: 18px;
	color: #FFFFFF;
	padding-left: 16px;
}

#nav-con .nav-product .product-list {
	z-index: 10;
	position: relative;
	background-color: rgba(0, 0, 0, 0.6);
}

#nav-con .nav-product .product-list li {
	height: 75px;
}

#nav-con .nav-product .product-list li div {
	padding: 10px 16px;
	height: 55px;
	position: relative;
}

#nav-con .nav-product .product-list li div h3 {
	padding-top: 3px;
	font-weight: 400;
}

#nav-con .nav-product .product-list li div h3 a {
	font-size: 16px;
	color: #FFFFFF;
}

#nav-con .nav-product .product-list li div a {
	color: #999;
	margin-right: 8px;
	font-size: 14px;
}

#nav-con .nav-product .product-list li div span {
	display: block;
	position: absolute;
	width: 7px;
	height: 13px;
	background: url(../img/spirit.png) -49px 0;
	top: 50%;
	margin-top: 6px;
	right: 10px;
}

#nav-con .nav-product .product-list li:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

#nav-con .nav-product .product-list li:hover div a:hover {
	cursor: pointer;
	color: #FFFFFF;
}

#nav-con .nav-product .product-list .list-hide {
	display: none;
	position: absolute;
	left: 240px;
	width: 648px;
	height: 448px;
	background-color: #FFF;
	top: 0;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

#nav-con .nav-product .product-list .list-hide .lh-title {
	padding: 20px 28px 20px 40px;
	width: 580px;
	height: 30px;
	line-height: 30px;
}

#nav-con .nav-product .product-list .list-hide .lh-title a {
	display: block;
	cursor: pointer;
	width: 580px;
	height: 30px;
	font-size: 14px;
	color: #ca151d;
}

#nav-con .nav-product .product-list .list-hide .lh-name {
	width: 580px;
	padding: 36px 28px 0 40px;
	border-top: 1px solid #eaeaea;
}

#nav-con .nav-product .product-list .list-hide .lh-name li {
	float: left;
	height: 0px;
	padding-bottom: 36px;
	vertical-align: top;
	text-align: center;
}

#nav-con .nav-product .product-list .list-hide .lh-name li a {
	display: block;
	padding-right: 30px;
	line-height: 1;
	font-size: 14px;
	color: #3a3a3a;
}

#nav-con .nav-product .product-list .list-hide .lh-name li:hover {
	background: white;
}

#nav-con .nav-product .product-list .list-hide .lh-name li a:hover {
	color: #ca151d;
	cursor: pointer;
}

#nav-con .nav-product .product-list .list-hide .lh-img {
	width: 648px;
	height: 236px;
	position: absolute;
	bottom: 0;
	left: 0;
}

#nav-con .nav-product .product-list .list-hide .lh-img ul li {
	width: 24.8%;
	height: 236px;
	margin: 0;
	position: relative;
	float: left;
	background: #FFFFFF;
	border-right: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	text-align: center;
}

#nav-con .nav-product .product-list .list-hide .lh-img ul li img {
	margin: 26px auto 0;
	width: 118px;
	height: 118px;
}

#nav-con .nav-product .product-list .list-hide .lh-img ul li h3 {
	margin-top: 0;
	padding-top: 0;
	width: 129px;
	height: 42px;
	line-height: 1.1;
	font-size: 14px;
	font-weight: 400;
	margin: 20px auto 2px;
	overflow: hidden;
	color: #3a3a3a;
	height: 40px;
	vertical-align: bottom;
	padding-left: 16px;
	padding-right: 16px;
}

#nav-con .nav-product .product-list .list-hide .lh-img ul li p {
	line-height: 1;
	font-size: 14px;
	font-weight: 400;
	margin: 0 44px 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #cc0e11;
}

#nav-con .nav-product .product-list .list-hide .lh-img ul li:hover {
	box-shadow: -2px 2px 4px #cecece;
	transform: scale(1.01);
	border-top: none;
	transition: all .2s linear 0s;
}


/*          breadnav区域                   */

.breadnav {
	width: 1200px;
	height: 20px;
	margin: 10px auto;
	line-height: 1.5;
	font-family: \5b8b\4f53;
}

.breadnav a {
	color: #666;
	font-family: \5FAE\8F6F\96C5\9ED1, \5B8B\4F53;
}

.breadnav span {
	color: #333;
	font-family: \5FAE\8F6F\96C5\9ED1, \5B8B\4F53;
}

.main {
	width: 1200px;
	height: 643px;
	margin: 0 auto;
	border: 1px solid #dedede;
	background-color: #FFF;
	position: relative;
}

.main .main-right {
	float: right;
	width: 657px;
	height: 604px;
	position: relative;
	padding-top: 36px;
}

.main .main-right h1 {
	font-size: 20px;
	line-height: 25px;
	font-weight: 400;
	padding: 0 30px;
}

.main .main-right .title {
	font-size: 16px;
	color: #e01d20;
	line-height: 20px;
	display: block;
	padding: 6px 30px;
	margin-bottom: 10px;
}

.main .main-right .price {
	height: 39px;
	border-top: 1px solid #CCCCCC;
	position: relative;
	padding: 0 30px;
}

.main .main-right .price span label {
	padding-right: 6px;
	color: #333333;
}

.main .main-right .price span b {
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	color: #e01d20;
	font-size: 24px;
	position: relative;
	top: 2px
}

.main .main-right .price .code {
	z-index: 20;
	display: inline-block;
	position: absolute;
	height: 13px;
	right: 20px;
	top: 20px;
}

.main .main-right .price .code span {
	line-height: 13px;
	color: #333;
	vertical-align: top;
}

.main .main-right .price .code i {
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(../img/icon_code.jpg) no-repeat 0 0;
}

.main .main-right .price .code img {
	position: absolute;
	display: none;
	z-index: 10;
	right: -60px;
	top: -140px;
}

.main .main-right .price .code:hover img {
	display: block;
}

.main .main-right .product-code {
	padding: 2px 30px;
}

.main .main-right .product-code label {
	padding-right: 6px;
	display: inline-block;
	width: 60px;
	text-align: right;
}

.main .main-right .product-comment {
	padding: 2px 30px;
}

.main .main-right .product-comment label {
	padding-right: 6px;
	display: inline-block;
	width: 60px;
	text-align: right;
}

.main .main-right .product-comment span {
	display: inline-block;
	width: 75px;
	height: 12px;
	line-height: 1px;
	overflow: hidden;
	position: relative;
	background: url(../img/star7.png) no-repeat -75px 0;
}

.main .main-right .deliver {
	padding: 2px 30px;
}

.main .main-right .deliver label {
	padding-right: 6px;
	display: inline-block;
	width: 60px;
	text-align: right;
}

.main .main-right .deliver span {
	color: red;
}

.main .main-right .product-service {
	padding: 2px 30px;
}

.main .main-right .product-service label {
	padding-right: 6px;
	display: inline-block;
	width: 60px;
	text-align: right;
}

.main .main-right .product-support {
	margin-bottom: 10px;
	padding: 2px 30px;
}

.main .main-right .product-support label {
	padding-right: 6px;
	display: inline-block;
	width: 60px;
	text-align: right;
}

.main .main-right .product-support .old-new {
	display: inline-block;
}

.main .main-right .product-support .old-new s {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/icon48.png) no-repeat 0 0;
	vertical-align: middle;
}

.main .main-right .product-support .old-new label {
	padding-right: 6px;
	display: inline-block;
	width: 60px;
	text-align: right;
}

.main .main-right .product-support .points {
	display: inline-block;
}

.main .main-right .product-support .points s {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/icon48.png) no-repeat -18px 0;
	vertical-align: middle;
}

.main .main-right .line {
	font-size: 1px;
	line-height: 1px;
	height: 0;
	border-bottom: 1px solid #dedede;
	margin-bottom: 15px;
}

.main .main-right .product-select {
	padding: 0 30px;
	height: 70px;
}

.main .main-right .product-select dt {
	float: left;
	line-height: 40px;
	padding-right: 6px;
}

.main .main-right .product-select dd {
	float: left;
}

.main .main-right .product-purchase {
	height: 26px;
	padding: 0 30px;
}

.main .main-right .product-purchase dt {
	float: left;
	line-height: 26px;
	padding-right: 6px;
}

.main .main-right .product-purchase dd {
	float: left;
}

.main .main-right .product-purchase dd a {
	display: inline-block;
	width: 24px;
	height: 24px;
	border: 1px solid #b2b2b2;
	background-color: #FFF;
	text-align: center;
	line-height: 24px;
	font-size: 20px;
}

.main .main-right .product-purchase dd input {
	border-color: #b2b2b2;
	height: 22px!important;
	line-height: 22px!important;
	width: 43px;
	margin: 0 5px;
	border: 1px solid #cdcdcd;
	width: 33px;
	text-align: center;
}

.main .main-right p {
	margin-left: 30px;
	margin-top: 80px;
	margin-bottom: 10px;
}

.main .main-right .add-cart {
	font-family: 'iconfont';
	color: white;
	display: inline-block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	margin-left: 30px;
	background: #CA151D;
	text-align: center;
}

.main .main-right .purchase {
	color: white;
	display: inline-block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	margin-left: 30px;
	background: orange;
	text-align: center;
}


/*         左边放大镜                 */

#main-left {
	position: relative;
	width: 540px;
	float: left;
	height: 640px;
	border-right: 1px solid #CCCCCC;
}

#right-box {
	display: none;
	overflow: hidden;
	position: absolute;
	width: 400px;
	height: 400px;
	border: 1px solid #CCCCCC;
	z-index: 10;
	right: -370px;
	top: 40px;
}

#right-box img {
	position: absolute;
	display: block;
	width: 800px;
	height: 800px;
}

#top-box {
	width: 400px;
	height: 400px;
	margin: 70px auto;
	position: relative;
}

#top-box img {
	width: 400px;
	height: 400px;
	display: block;
}

#shadow {
	display: none;
	width: 200px;
	height: 200px;
	background: white;
	opacity: .6;
	border: 1px solid #CCCCCC;
	cursor: move;
	position: absolute;
	left: 0;
	top: 0;
}

#bottom-box {
	width: 540px;
	height: 100px;
	margin: 40px auto;
	overflow: hidden;
}

#bottom-box img {
	margin-left:30px;
	display: inline-block;
	width: 68px;
	height: 68px;
	border: 1px solid #CCCCCC;
}

#bottom-box .active {
	border: 1px solid #CA141D;
}