*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
}
body, button, input, select, textarea {
    font: 12px/1.5 Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}
a{
	text-decoration: none;
}
.login-con{
	width: 1002px;
	margin: 0 auto;
	position: relative;
}
.header{
	height: 100px;
}
.header-con{
	width: 998px;
    height: 67px;
    margin: 0px auto;
    border: 0px;
    position: relative;
}
.header-con .logo{
	float: left;
}
.header-con .logo img{
	display: block;
	width: 167px;
	height: 43px;
	margin-top: 14px;
	margin-left: 4px;
}
.header-con .line{
	font-size: 25px;
    margin-top: 20px;
    float: left;
    font-weight: normal;
    color: #999;
}
.header-con b:last-child{
	font-size: 23px;
    margin-top: 22px;
    float: left;
    margin-left: 3px;
    font-weight: normal;
    color: #999;
}
.header-center{
	width: 1002px;
	height: 688px;
}
.hc-left{
	width: 640px;
    height: 588px;
    background:url(../img/login-bg.jpg) no-repeat;
    float: left;
}
.hc-right{
	width: 358px;
    float: right;
}
.hc-right .title{
	padding: 96px 0 18px 2px;
	margin-bottom: 20px;
}
.hc-right .title h3{
	margin-top: -45px;
	font-size: 30px;
    color: #ea5e00;
    font-weight: bold;
}
.hc-right .login-con{
	margin-top: -20px;
}
.hc-right .login-con form{
	width: 280px;
	height: 315px;
	position: relative;
}
.hc-right .login-con form .zh{
	border: 1px solid #CCCCCC;
	background: lightgoldenrodyellow;
	color: #CA141D;
	position: absolute;
	left: 0;
	top: 50px;
	border-radius: 5px;
	display: none;
}
.hc-right .login-con form .psw{
	border: 1px solid #CCCCCC;
	background: lightgoldenrodyellow;
	color: #CA141D;
	position: absolute;
	border-radius: 5px;
	left: 0;
	top: 125px;
	display: none;
}
.hc-right .login-con form .codewrong{
	border: 1px solid #CCCCCC;
	background: lightgoldenrodyellow;
	color: #CA141D;
	position: absolute;
	border-radius: 5px;
	left: 0;
	top: 190px;
	display: none;
}
.hc-right .login-con form .wrong{
	border: 1px solid #CCCCCC;
	background: lightgoldenrodyellow;
	color: #CA141D;
	position: absolute;
	border-radius: 5px;
	left: 0;
	top: 350px;
	display: none;
}
.hc-right .login-con form input{
	width: 280px;
	height: 52px;
	border: 1px solid red;
	outline: red;
	padding-left: 10px;
	margin-bottom: 20px;
}
.hc-right .login-con form .code{
	width: 290px;
	height: 64px;
}
.hc-right .login-con form .code input{
	float: left;
	width: 145px;
	height: 44px;
	border: 1px solid red;
	outline: red;
	padding-left: 10px;
}
.hc-right .login-con form .code img{
	float: left;
}
.hc-right .login-con form .code img:last-child{
	margin: 10px 0;
	margin-left: 6px;
}
.hc-right .login-con form .tips{
	width: 290px;
	height: 70px;
	position: relative;
	line-height: 60px;
	border-bottom: 1px solid #CCCCCC;
}
.hc-right .login-con form .tips div{
	position: absolute;
	width: 100px;
	height: 20px;
	left: 0;
	top: 0;
}
.hc-right .login-con form .tips div .radio{
	width: 10px;
	height: 10px;
}
.hc-right .login-con form .tips a{
	float: right;
	color: #999999;
	margin-right: 20px;
}
.hc-right .login-con form .tips a:hover{
	color: red;
	text-decoration: underline;
}
.hc-right .login-con form .btn{
	width: 290px;
	height: 44px;
	background: #CA151D;
	color: white;
	font-size: 20px;
	margin: 20px 0;
}
.hc-right .login-con .links{
	width: 290px;
	height: 44px;
	line-height: 44px;
	margin-top: 50px;
}
.hc-right .login-con .links span:nth-child(1){
	color: #CCCCCC;
	font-size: 12px;
}
.hc-right .login-con .links span:nth-child(2){
	color: #3d78bf;
}
.hc-right .login-con .links span:nth-child(3){
	color: #15a0d6;
}
.hc-right .login-con .links span:nth-child(4){
	color: #44b035;
}
.hc-right .login-con .links .pic{
	font-family: 'iconfont';
	font-size: 30px;
	cursor: pointer;
}
.hc-right .login-con .register{
	width: 290px;
	height: 24px;
	margin-top: 40px;
}
.hc-right .login-con .register a{
	color: #ff9937;
    font-size: 14px;
    font-weight: 700;
}
.hc-right .login-con .account{
	margin-top: 10px;
    padding-top: 10px;
    width: 299px;
    color: #999;
    line-height: 16px;
}
.footer{
	border-top: 1px solid #d7d7d7;
    margin: 50px 150px;
    width: 964px;
    height: 105px;
}
.footer-con{
	margin: 30px auto;
    text-align: center;
    font-size: 12px;
    color: #999;
}
.footer-con p{
	line-height: 24px;
}
.footer-con p a{
	text-decoration: underline;
	font-size: 14px;
    color: #999;
    padding: 0 15px;
}
