
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495545536468'); /* IE9*/
  src: url('iconfont.eot?t=1495545536468#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495545536468') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495545536468') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495545536468#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before { content: "\e795"; }

.icon-qq:before { content: "\e614"; }

.icon-gouwuche1:before { content: "\e639"; }

.icon-yijianfankui:before { content: "\e643"; }

.icon-kefuzhongxin:before { content: "\e62b"; }

.icon-gouwuche:before { content: "\e6c6"; }

.icon-youxiang:before { content: "\e68b"; }

.icon-yijianfankui1:before { content: "\e623"; }

.icon-qq1:before { content: "\e6d3"; }

.icon-xiaolian:before { content: "\e670"; }

.icon-sou:before { content: "\e600"; }

.icon-bangzhuzhongxin:before { content: "\e641"; }

.icon-weixin:before { content: "\e608"; }

.icon-zhifubao:before { content: "\e624"; }

.icon-sousu:before { content: "\e601"; }

